body {
  margin: 0;
}

.hide {
  display: none;
}

body > button {
  padding: 10px;
  display: block;
}

.viewport {
  position: relative;
  height: 420px;
  width: 320px;
  border: 10px solid #000;
  border-radius: 6px;
  margin: 0 auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@media (max-device-width: 480px) {
  .viewport {
    border: 0;
  }

  body > button {
    position: absolute;
  }
}

.navigation {
  background: #eee;
  border-bottom: 1px solid #666;
  box-shadow: 0 1px 0 0 #aaa;
  height: 60px;
}

.navigation .token {
  width: 40px;
  height: 40px;
  border: 1px dashed #666;
  border-radius: 20px;
  display: inline-block;
  margin: 10px 10px 5px;
}

.mission-list {
  -webkit-box-flex: 1;
}

.person img {
  width: 30px;
  height: 30px;
}

.mission {
  line-height: 30px;
  padding: 10px;
}

.mission .attempt {
  float: right;
  color: #777;
}

.facepile .person {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1px;
}

.facepile .person.placeholder {
  border: 3px dotted #8af;
  border-radius: 3px;
  margin: 2px 3px;
  width: 20px;
  height: 20px;
}

.title {
  font-weight: bold;
  font-size: 24px;
  padding-top: 10px; 
}

.center {
  position: relative;          
  margin: auto;
  text-align: center;
}

.button {
  position: absolute; 
  bottom: 0;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 12px;
  margin: 9px;
  height: 40px;
}

.button.full {
  width: 300px;
}

.button.half {
  width: 130px;
  float: left;
}

.button.accept {
  background: green;
}

.button.reject {
  background: red;
}

.error_state {
  height: 40px;
  background: red;
  z-index: 9;
}

.choosing_mission .roster_view {
  display: none;
}

.selectable {
  bottom: 0;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 12px;
  margin: 5px;
}

.info_view {
  border: 2px solid black;
}

.large {
  font-size: 22px;
}
